[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "{{ cookiecutter.python_version }}"

[packages]

[dev-packages]
bump2version = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
jupyterlab = "*"
ipython = "*"

[scripts]
init = "pipenv run $SHELL scripts/init.sh"
git_setup = "pipenv run $SHELL scripts/git-setup.sh"
cookiecutter_update = "pipenv run $SHELL scripts/cookiecutter-update.sh"
commit_test = "pipenv run pre-commit run --hook-stage commit"
push_test = "pipenv run pre-commit run --hook-stage push"
coverage = "pipenv run pytest --cov --cov-fail-under=100 --cov-report term-missing:skip-covered"
tests = "pipenv run pre-commit run -a"
test = "pipenv run pytest"
create_ipykernel = "pipenv run python -m ipykernel install --user --name {{ cookiecutter.repo_name }}"
remove_ipykernel = "pipenv run jupyter kernelspec remove {{ cookiecutter.repo_name }} "
